{% if include.name %}
  {% assign name = include.name %}
{% else %}
  {% assign name = "Contact" %}
{% endif %}

{% assign name_id = name | downcase | replace: " ", "-" %}

{% if include.thanks_url %}
  {% assign thanks_url = include.thanks_url %}
{% else %}
  {% assign thanks_url = "/thanks/" %}
{% endif %}

<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mayrpldo" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Họ và Tên / First and Last Name</label>
    <input type="text" name="name" id="full-name" placeholder="Họ và Tên / First and Last Name" required="">
    <label for="email-address">Địa chỉ email của bạn / Your Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="my123thd@gmail.com" required="">
    <label for="message">Tin nhắn / Message</label>
    <textarea rows="5" name="message" id="message" placeholder="Gõ tin nhắn của bạn ở đây ... / Your mesage ..." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Gửi phiếu / Contact Form Submission">
  </fieldset>
  <input type="submit" value="Gửi / Submit">
</form>
{% unless include.netlify_form %}
  <script>
    var email = "{{ site.email | split: "" | reverse | join: "" }}";
    var unraveledEmail = email.split("").reverse().join("");
    var form = document.querySelector(".form--{{ name_id }}");
      form.setAttribute("action", "https://formspree.io/" + unraveledEmail);
  </script>
  <noscript>Please enable JavaScript to use the form.</noscript>
{% endunless %}
